<nz-descriptions nzTitle="More Infomation">
  <nz-descriptions-item nzTitle="Original simulator"
    ><a
      href="https://schweigi.github.io/assembler-simulator/"
      target="_blank"
      rel="noopener noreferrer"
      >Simulator Demo</a
    ></nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="Blog with details"
    ><a
      href="https://www.mschweighauser.com/make-your-own-assembler-simulator-in-javascript-part1/"
      target="_blank"
      rel="noopener noreferrer"
      >Make your own Assembler simulator in JavaScript</a
    >
    &nbsp;by&nbsp;
    <a
      href="https://www.mschweighauser.com/author/schweigi/"
      target="_blank"
      rel="noopener noreferrer"
      >Macro</a
    ></nz-descriptions-item
  >
  <nz-descriptions-item nzTitle="GitHub">
    <a
      href="https://github.com/AkatQuas/assembler-simulator"
      target="_blank"
      rel="noopener noreferrer"
      >8-Bit Simulator with Angular</a
    >
  </nz-descriptions-item>
</nz-descriptions>
